img {

    width: 400px;
    height: 400px;
}
#logo{
    width: 1000px;
    height: 750px;
}
#kebabspett{
    width: 800px;
    height: auto;
    align-items: center;
    float: right;
    
}
h1{
    color: #F5F4D3;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    color: #F5F4D3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fa {
 padding: 20px;
 font-size: 25px;
 width: 40px;
 text-align: center;
 text-decoration: none;
 margin: 5px 2px;
 }
.welcome{
    font-size: 40px;
}
.fa-facebook {
    
    background: #3B5998;
    color: white;
}
.fa-instagram{
    background: #3B5998;
    color: white;
}
.aboutus{
 font-size:x-large
}

